# Author            : Cesar R. Urteaga-Reyesvera.
# Creation date     : July 23, 2017.

# ---------------------------------------------------------------------  FOLDERS
# ------------------------------------------------------------------------ FILES
# Ignore the Sublime's project workspace file.
*.sublime-workspace
.Rhistory
